.about p {
    font-weight: 150;
  }
  .about{
    width: 79%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: baseline;
    padding: 0px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
.googleMap{
  width: 79%;
}