.calcul {
    border: 2px solid rgb(187, 187, 187);
    background-color: rgb(232, 231, 231);
    height: fit-content;
    margin: 0px;
    text-align : start;
    padding-left: 10px;
    }
    .calcul p {
      margin: 0px;
    }
    .valute {
      display: flex;
      justify-content: flex-start;
      color: rgb(116, 107, 107);
      flex-wrap: wrap;
    }
    @media screen and (max-width : 426px){
      .homeCalc{
        margin: 20px 0 20px 0;
      }
      .homeCalc p{
        padding-top: 10px;
      }
    }