.contacts{
    color: rgb(116, 107, 107);
    width: 79%;
    display: flex;
    align-items: initial;
    padding: 10px;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
    height: 100%;
    margin-bottom: 20px;
  }
  .contacts a {
    color: rgb(116, 107, 107);
    margin-top: 10px;
  }
  .contacts a:first-child{
    margin-top: 0px;
  }
  .contacts-box {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  }
  .icons {
    color: green;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .contacts p{
    margin: 10px 0 5px 0;
  }
  @media screen and (max-width : 750px){
    .contacts-box{
      flex-direction: column;
      margin: auto;
      align-items: center;
    }
    .contacts h3{
      margin: auto;
      padding-left: 20px;    }
  }
