.courseBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 150px;
  }
  .blockRate {
    border: 2px solid rgb(187, 187, 187);
    height: 150px;
    width: 30%;
    background-color: rgb(232, 231, 231);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(116, 107, 107);
  }
  .blockRate:last-child{
    margin: 0px;
  }
  @media screen and (max-width : 1044px) {
  .nameVal{
    padding-top: 10px;
  }
  .blockRate p{
    margin-top: 5px;
  }
  .blockRate{
    height: 140px;
  }
}
@media screen and (max-width : 426px){
  .blockRate{
    height: 170px;
    margin-bottom: 20px;
    width: 20%;
    margin-right: 10px;
  }
  .textVal{
    font-size: small;
  }
}
@media screen and (max-width : 342px){
  .textVal{
    font-size: x-small;
  }
}