.footer {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    font-size: 15px;
    margin-top: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer li {
    list-style-type: none;
  }
  .footer button { 
    border-color: none;
    background-color: black;
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-size: 15px;
  }
  @media screen and (max-width : 796px){
    .footer{
      flex-direction: column;
      position: fixed;
      margin-top: 17px;
      text-align: center;
      left: 0;
      bottom: 0;
      height: 40px;
    }
    .hideMob{
      display: none;
    }
    .footer p{
      font-size: x-small;
    }
    
  }