.header {
    background-color: green;
    margin: 0px;
    display: flex;
    flex-direction: column;
    }
    .header p {
      margin: 0px;
      color: aliceblue;
      font-size: 30px;
      padding: 30px 0 10px 0;
      align-self: flex-start;
      width: 79%;
      margin: auto;
    }
    .navigation {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 79%;
      margin: auto;
      padding: 10px 0 10px 0;
    }
    .navigation li{
    list-style-type: none;
    padding-right: 30px;
    }
    nav{
      background-color: rgba(16, 68, 20, 0.897);
    }
    @media screen and (max-width : 429px){
      .navigation{
        flex-direction: column;
      }
    }