.courseHome {
    width: 79%;
    margin: auto;
    }
.cookie a{
    color: black;
    border: 1px solid rgb(187, 187, 187);
    padding: 0px 5px 0px 5px;
    color: rgb(116, 107, 107); 
    width: fit-content;
    height: fit-content;     
  }
  .cookie {
    border: 1px solid rgb(187, 187, 187);
    background-color: rgb(232, 231, 231);
    font-size: 10px;
    display: flex;
    margin: auto;
    width: 79%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(116, 107, 107);
    align-items: center;
    align-self: initial;  }
  .cookie p{
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media screen and (max-width: 1430px) {
    .cookie{
      margin-bottom: 20px;
      justify-content: flex-start;
    }
    .cookie a{
      padding-left: 5px;
    }
  }
  @media screen and (max-width: 1424px) {
    .cookie p{
      padding-left: 5px;
    }
  }